{
    "plugins": ["prettier-plugin-blade"],
    "semi": false,
    "printWidth": 120,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "printWidth": 120,
                "bracketSameLine": true,
                "proseWrap": "never"
            }
        }
    ]
}
