.table-bordered {
    font-size: 11px
}

.table {
    --bs-table-border-color: black !important;
    border-collapse: collapse !important;
}

.table tbody tr td {
    padding: 2px !important
}

.required {
    color: red
}

.title {
    font-size: 20px;
}

.content {
    font-size: 15px;
}

.barcode {
    margin-top: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 10px;
    max-width: 435px !important;
}

@media (max-width: 600px) {
    .col-5 {
        width: 100% !important;
    }

    .col-4 {
        width: 100% !important;
    }
}

.table tbody tr:last-child td {
    border-width: 1px;
}

/* .qrcode-img {
    width: 200px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
} */

.qrcode-img {
    width: 100%;
    font-size: 10px;
    line-height: 1;
    text-align: left;
    white-space: normal;
    word-break: break-word;

}



/* .qrcode-img svg {
    width: 80px;
    height: 80px;
} */

.qr-add {
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: center;
    color: #4590fd;
    margin-top: 5px
}

.container-gird {
    margin-left: 60px;
    margin-right: 60px;
}

.lot-end {
    flex-grow: 1;
    text-align: right;
}

.me-lot {
    margin-right: 45px;
}

.lot-container {
    display: flex;
    justify-content: space-between;
}

.lot-container p {
    margin: 0;
}

#barcode-image {
    max-width: 250px;
    height: 33px;
}

.square {
    border: 1px solid;
    width: 50px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    right: 34px;
}

.under-moc-style {
    border-top: none !important;
}

.under-moc-style td:nth-child(1) {
    border-top: 1px solid;
}

.under-moc-style td:nth-child(2) {
    border-top: 1px solid;
}

.moc-style {
    border-bottom: none !important;
    height: 100px !important;

}


@media print {
    @page {
        size: A4 landscape;
        margin: 0;
    }

    .p-4,
    .row,
    .card,
    .print-container,
    .conatiner-fluid,
    .container-gird,
    .table-responsive {
        padding: 0 !important;
        margin: 0 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    .qrcode-img {
        width: auto;
        font-size: 10px;
        line-height: 1.4;
        text-align: left;
        white-space: normal;
        word-break: break-word;

    }

    .card {
        padding: 0 !important;
        margin: 0 !important;
        background: transparent !important;
        border: none !important;
    }

    .moc-style td[colspan="2"],
    .square {
        color: black !important;
        border: none 1px 1px 1px !important;

    }


    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        zoom: 65%;
        /* row-gap: 0.2rem; */
        /* column-gap: 4rem; */
        page-break-inside: avoid;
        /* padding-top: 10px !important; */
        /* margin-top: 20px !important; */
    }

    .grid-item {
        page-break-inside: avoid;
        margin-top: 15px !important;
    }

    .table {
        width: 120%;
        max-width: none;
        height: auto !important;
        max-height: 100% !important;
        min-width: none;
        border-top: 3px solid;
    }


    .grid-item * {
        margin: auto !important;
    }

    .no-print {
        display: none !important;
    }

    .main-content {
        padding: 0 !important;
        margin: 0 !important;
        margin-top: -50px !important;
        margin-left: -70px !important;
    }

    header,
    footer {
        display: none;
    }

    .container {
        width: auto;
        font-size: 5pt;
    }

    .moc-style td:nth-child(3) {
        border-right: 1px solid;
        width: auto !important;
        height: 130px !important;
    }

    .fs-13 {
        font-size: 20px !important;
    }
}