.required {
    color: red
}
.title {
    font-size: 20px;
}
.content {
    font-size: 15px;
}
#interactive.viewport {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
video {
    max-width: 100%;
    height: auto;
}
.drawingBuffer {
    width: 0px;
    height: 0px;
    border: none;
    padding: 0;
    margin: 0;
}
@media (max-width: 600px) {
    .col-5 {
        width: 100% !important;
    }
    .col-4 {
        width: 100% !important;
    }
}
